<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Home Page</title>
</head>
<body>
    
    <div>
        <input type="radio" name="size" value="full name" id="xs" disabled>
        <label for="xs">full_name</label>
    </div>
    <div>
        <input type="radio" name="size" value="national id "disabled id="s">
        <label for="s">national_id</label>
    </div>
    <div>
        <input type="radio" name="size" value="email " disabled id="m">
        <label for="m">email</label>
    </div>
    <div>
        <input type="radio" name="size" value="phone 1"disabled id="l">
        <label for="l">phone1</label>
    </div>
   <br>
   <form method="POST">
    <input type="text" name= "lookup" placeholder="please enter your search field">
    <br>
    <input type="text" name= "val" placeholder="please enter value">
    <br>
    <input type="submit" value="Search">
    {% csrf_token %}
    
</form>
{{faild}}

<h3>output : </h3>
{{patient_list}} <br>
----------------------------------
{{address_list}} <br>
----------------------------------
{{examination_list}}
</body>
</html>