{% extends 'base.html' %}


{% block content%}

  <h1>Create User</h1>

  {% if result == 'Valid' %}
      
      <p>enter username : {{user.username| slugify}}</p>
      <p>your email  : {{user.email}}</p>
      
      <p>password  :  {{user.password| truncatechars:'10'}}</p>
      
  {% elif result == 'Not Valid' %}
    <p>Not Valid date</p>
  {% else %}
    <p>Please Enter Any Data</p>
  {% endif %}


  {% if result != 'Valid' %}
  <form method= 'POST' >
    {{form}}
    
    <input type = "submit" value = "create patient">
    {% csrf_token %}
  {% endif %}

  {% endblock%}

    