{% extends 'base.html' %}


{% block body%}

    <h1>Create task</h1>
  {% if result == 'Valid' %}
     {% include 'todo/navbar.html' %}
      
  {% elif result == 'Not Valid' %}
    <p>Not Valid date</p>
  {% else %}
    <p>Please Enter Any Data</p>
  {% endif %}

  <form method= 'post'>
    <input type="text"  name="name" placeholder="please enter task name"><br>
    <input type="text" name="describtion" placeholder="please enter describtion"><br>
    <input type="date"  name="created_date" placeholder="please enter created_date"><br>
    <input type="date" name="finished_date" placeholder="please enter finished_date"><br>
    <input type="text" name="task_note" placeholder="please enter task_note"><br>
    
    <input type="submit" value="create task"><b></b>
    
    {% csrf_token %}
{% endblock%}
